@import "https://fonts.googleapis.com/css?family=Roboto:400,500,700";
/* line 3, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
* {
  margin: 0;
  padding: 0;
  outline: 0;
}

/* line 9, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Lora', serif;
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: rgba(0, 0, 0, 0.87);
  padding: 0px 0 40px;
}
/* line 17, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
body.full {
  padding: 0;
}

/* line 22, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
.top-banner {
  text-align: center;
  width: 100%;
  background: #F5F5F5;
}
/* line 26, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
.top-banner > div {
  margin: 0 auto;
  padding: 9px 10px 12px;
  font-size: 14px;
}
/* line 30, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
.top-banner > div a {
  text-decoration: none;
  border-bottom: 1px solid;
}

/* line 36, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
header, .page {
  margin: 20px auto 0;
  padding: 0 10px;
  max-width: 800px;
  text-align: center;
}
/* line 41, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
header.large, .page.large {
  max-width: 1000px;
}
/* line 43, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
header.large h1, .page.large h1 {
  max-width: 820px;
}
/* line 46, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
header.large h2, .page.large h2 {
  margin-top: 5px;
  max-width: 800px;
  line-height: 30px;
}
/* line 50, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
header.large h2.headline, .page.large h2.headline {
  line-height: 30px;
  max-width: 965px;
}
/* line 55, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
header.large .module, .page.large .module {
  margin: 20px 0 20px;
}

/* line 61, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
a {
  color: rgba(0, 0, 0, 0.87);
}

/* line 64, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
h1 {
  font-size: 3em;
  font-weight: 700;
  max-width: 600px;
  margin: 0 auto;
}
/* line 69, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
h1 span {
  font-size: 0.8em;
}
/* line 72, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
h1.extra {
  font-size: 5em;
  margin: 20px auto 0;
}

/* line 77, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
h2 {
  font-weight: normal;
  max-width: 600px;
  margin: 0 auto 10px;
}
/* line 81, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
h2.extra {
  font-size: 2em;
}
/* line 84, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
h2 a {
  text-decoration: none;
  border-bottom: 1px solid;
}

/* line 89, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
h3 {
  font-weight: normal;
  font-size: 0.8em;
  line-height: 1.6em;
  margin: 0 auto 10px;
  max-width: 480px;
}

/* line 96, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
h4 {
  font-weight: normal;
  max-width: 420px;
  margin: 0 auto 10px;
  font-size: 2em;
  line-height: 1.3em;
}

/* line 103, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
p {
  margin: 20px auto;
  line-height: 1.4em;
  text-align: left;
  font-size: 1.4em;
}

/* line 109, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
sup {
  font-size: 0.83em;
  vertical-align: super;
  line-height: 0;
}

/* line 114, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
sub {
  vertical-align: sub;
  line-height: 0;
}

/* line 118, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
.module {
  margin: 20px 0 40px;
}
/* line 120, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
.module.left {
  text-align: left;
}

/* line 125, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
.hide {
  display: none;
}

/* line 129, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
.legend {
  padding: 10px 0 0;
  text-align: center;
}
/* line 132, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
.legend > div {
  display: inline-block;
  font-size: 12px;
  margin-right: 10px;
}
/* line 136, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
.legend > div .circle {
  width: 10px;
  height: 10px;
  top: 1px;
  margin-right: 0;
}

/* line 145, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
.map {
  width: 100%;
  height: 500px;
}

/* line 151, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
.circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: 5px;
}

/* line 161, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
.category {
  text-transform: uppercase;
}
/* line 164, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
.category span:after {
  content: ' +';
}
/* line 168, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
.category span:last-child:after {
  content: '';
}

/* line 176, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
.school {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  overflow: hidden;
}
/* line 182, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
.school > .inner {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 10px 20px;
}
/* line 189, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
.school .header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px 10px;
}
/* line 194, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
.school .header > .info {
  flex-grow: 1;
  text-align: left;
  padding: 20px 0;
}
/* line 198, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
.school .header > .info .name {
  font-size: 65px;
  line-height: 65px;
  font-weight: bold;
  padding-right: 20px;
  margin: 5px 0 0;
}
/* line 206, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
.school .header > .info .category {
  font-size: 16px;
}
/* line 209, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
.school .header > .info .address {
  font-size: 16px;
  line-height: 22px;
  margin-top: 5px;
}
/* line 215, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
.school .header > .number {
  flex: 0 0 20vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4px 10px;
}
/* line 221, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
.school .header > .number .value {
  font-weight: bold;
  font-size: 100px;
  margin-bottom: -10px;
}
/* line 225, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
.school .header > .number .value span {
  font-size: 18px;
  font-weight: normal;
}
/* line 230, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
.school .header > .number .explanation {
  font-size: 16px;
  line-height: 22px;
  max-width: 300px;
  margin: 0 auto;
}
@media only screen and (max-width: 960px) {
  /* line 189, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  .school .header {
    flex-direction: column;
    margin: 0 0 20px;
  }
  /* line 240, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  .school .header > .info {
    text-align: center;
    padding: 20px 0 10px;
  }
  /* line 243, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  .school .header > .info .name {
    font-size: 45px;
    line-height: 45px;
  }
  /* line 247, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  .school .header > .info .category, .school .header > .info .address {
    font-size: 12px;
  }
}
/* line 255, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
.school .license {
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #777;
}
/* line 261, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
.school .credits {
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #777;
  margin-top: 5px;
}

/* line 270, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
table {
  border-collapse: collapse;
  text-align: left;
  margin: 20px 0;
  border-top: 1px solid;
  width: 100%;
}
/* line 276, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
table td, table th {
  border-bottom: 1px solid;
  padding: 5px 2px;
}
/* line 280, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
table td span > a, table th span > a {
  text-decoration: none;
}
/* line 282, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
table td span > a:hover, table th span > a:hover {
  text-decoration: underline;
}
/* line 286, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
table td span.small, table th span.small {
  font-size: 11px;
  margin-right: 5px;
  position: relative;
  top: -1px;
}
/* line 292, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
table td span.highlight, table th span.highlight {
  font-size: 10px;
  text-transform: uppercase;
  background: #6FD350;
  border-radius: 4px;
  padding: 2px 4px;
  position: relative;
  top: -1px;
}
/* line 300, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
table td span.highlight a, table th span.highlight a {
  text-decoration: none;
  color: white;
  display: inline-block;
}
/* line 307, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
table td.category, table th.category {
  font-size: 11px;
  text-transform: uppercase;
}
/* line 311, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
table td.right, table th.right {
  text-align: right;
}
/* line 314, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
table td.empty, table th.empty {
  text-align: center;
  padding: 40px 0;
  font-size: 11px;
  text-transform: uppercase;
}
/* line 320, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
table td.button, table th.button {
  border: 0;
  padding: 10px 0 0;
}
/* line 323, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
table td.button a, table th.button a {
  background: black;
  color: white;
  text-align: center;
  padding: 6px 0 5px;
  font-size: 11px;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  display: block;
}
/* line 333, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
table td.button a span, table th.button a span {
  text-decoration: underline;
}
/* line 339, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
table th {
  text-transform: uppercase;
  font-size: 12px;
}
/* line 342, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
table th span {
  text-transform: none;
}
/* line 347, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
table tr.extra {
  display: none;
}
/* line 351, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
table tr.limit td {
  border-top: 3px solid;
}

/* line 359, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
form .select {
  display: inline-block;
  border: 1px solid #d3dbe2;
  border-radius: 3px;
  box-sizing: border-box;
  position: relative;
  background: #ffffff;
  overflow: hidden;
  vertical-align: middle;
}
/* line 368, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
form .select .select-icon {
  cursor: pointer;
  display: block;
  fill: #798c9c;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -6px;
  pointer-events: none;
  width: 12px;
  height: 12px;
  vertical-align: middle;
}
/* line 382, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
form .select select {
  font-size: 16px;
  padding: 7px 10px;
  padding-right: 32px;
  border: 0;
  width: 100%;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
}
/* line 394, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
form span {
  margin: 0 8px;
  font-size: 1.2em;
  vertical-align: middle;
}
/* line 400, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
form div {
  display: inline-block;
}
/* line 404, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
form button {
  border-radius: 3px;
  line-height: 0;
  padding: 7px;
  background: white;
  margin: 0;
  border: 1px solid #d3dbe2;
  vertical-align: middle;
  display: inline-block;
}
/* line 414, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
form button .material-icons {
  font-size: 18px;
  width: 18px;
  height: 18px;
  display: inline-block;
}

/* line 425, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
hr {
  max-width: 100px;
  margin: 50px auto;
  border: 0;
  height: 1px;
  background: black;
}

/* line 433, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
.graph {
  width: 100%;
  max-height: 400px;
  height: 400px;
  margin: 0 auto 20px;
}
/* line 439, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
.catalunya .graph .legend {
  display: none;
}

/* line 445, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
ol, ul {
  margin: 0 auto;
}
/* line 447, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
ol li, ul li {
  margin: 20px 0;
}

/* line 452, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
footer {
  margin-top: 40px;
  padding-top: 20px;
}
/* line 455, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
footer:before {
  content: '';
  width: 20px;
  height: 1px;
  display: block;
  background: black;
  position: relative;
  top: -10px;
}
/* line 464, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
footer p {
  font-size: 1em;
  margin: 0;
}
/* line 468, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
footer ul {
  text-align: left;
  margin-left: 20px;
}
/* line 471, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
footer ul li {
  line-height: 22px;
}
/* line 475, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
footer .credit {
  text-align: right;
  margin-top: 20px;
}
/* line 479, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
footer.last {
  margin-top: 0;
}

/* line 484, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
#tooltip {
  max-width: 240px;
  line-height: 1.4em;
}

/* line 489, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
td {
  padding: 3px 5px;
}

@media only screen and (max-width: 1100px) {
  /* line 494, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  .map {
    height: 500px;
  }
}
@media only screen and (max-width: 960px) {
  /* line 500, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  .hide-on-tablet {
    display: none;
  }

  /* line 503, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  .map {
    height: 400px;
  }

  /* line 507, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  form:after {
    display: table;
    content: '';
    clear: both;
  }
  /* line 512, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  form .select {
    display: block;
    width: 100%;
    margin: 5px auto;
  }
  /* line 516, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  form .select.location {
    width: 88%;
    margin: 5px 0;
    float: left;
  }
  /* line 522, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  form span {
    display: none;
  }
  /* line 525, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  form div {
    width: 10%;
    float: left;
    margin: 5px 0 5px 2%;
  }
  /* line 530, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  form div.clear {
    clear: both;
  }
}
@media only screen and (max-width: 750px) {
  /* line 537, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  .hide-on-mobile {
    display: none;
  }

  /* line 542, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  .top-banner > div span {
    display: block;
  }

  /* line 547, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  header {
    padding: 0 10px 20px;
  }
  /* line 549, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  header h1 {
    font-size: 3em;
  }
  /* line 552, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  header h2 {
    font-size: 1.2em;
    margin: 0 auto 20px;
    line-height: 1.4em;
  }
  /* line 557, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  header.large {
    padding: 0 10px;
  }
  /* line 559, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  header.large h1 {
    font-size: 3em;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  /* line 566, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  .page {
    padding: 0 10px;
  }
  /* line 570, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  .page.large h2.headline {
    margin-top: 10px;
    font-size: 20px;
    line-height: 28px;
    max-width: 100%;
  }
  /* line 577, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  .page.large .module {
    margin: 0;
  }
  /* line 579, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  .page.large .module select {
    text-transform: uppercase;
    font-size: 12px;
  }

  /* line 588, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  footer .credit {
    text-align: center;
    margin-top: 20px;
  }

  /* line 596, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  .legend > div span {
    display: none;
  }

  /* line 602, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  .map {
    height: 300px;
  }

  /* line 606, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  h1 {
    font-size: 2.8em;
    line-height: 1em;
  }
  /* line 609, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  h1.extra {
    font-size: 4em;
  }
  /* line 612, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  h1.left {
    text-align: left;
    font-size: 2.6em;
    line-height: 1.2em;
  }

  /* line 618, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  h2 {
    font-size: 1.3em;
    line-height: 1.2em;
    margin: 0 auto 5px;
    padding: 0 10px;
  }
  /* line 623, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  h2.extra {
    font-size: 1.6em;
  }

  /* line 627, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  h3 {
    margin-top: 10px;
  }

  /* line 630, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  p {
    font-size: 1.2em;
    line-height: 1.8em;
  }

  /* line 635, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  .graph .legend {
    display: none;
  }
}
/* line 641, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
canvas.mapboxgl-canvas {
  left: 0;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

