@import "https://fonts.googleapis.com/css?family=Roboto:400,500,700";
/* line 3, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
* {
  margin: 0;
  padding: 0;
  outline: 0;
}

/* line 9, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
body {
  padding: 40px 10px;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Lora', serif;
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: rgba(0, 0, 0, 0.87);
}

/* line 18, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
header, .page {
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
}

/* line 23, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
a {
  color: rgba(0, 0, 0, 0.87);
}

/* line 26, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
h1 {
  font-size: 3em;
  font-weight: 700;
  max-width: 600px;
  margin: 0 auto;
}
/* line 31, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
h1 span {
  font-size: 0.8em;
}
/* line 34, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
h1.extra {
  font-size: 5em;
  margin: 20px auto 0;
}

/* line 39, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
h2 {
  font-weight: normal;
  max-width: 600px;
  margin: 0 auto 10px;
}
/* line 43, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
h2.extra {
  font-size: 2em;
}
/* line 46, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
h2 a {
  text-decoration: none;
  border-bottom: 1px solid;
}

/* line 51, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
h3 {
  font-weight: normal;
  font-size: 0.8em;
  line-height: 1.6em;
  margin: 0 auto 10px;
  max-width: 480px;
}

/* line 58, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
h4 {
  font-weight: normal;
  max-width: 420px;
  margin: 0 auto 10px;
  font-size: 2em;
  line-height: 1.3em;
}

/* line 66, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
p {
  margin: 20px auto;
  line-height: 2em;
  text-align: left;
  font-size: 1.4em;
}

/* line 73, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
.module {
  margin: 20px 0 40px;
}
/* line 75, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
.module.left {
  text-align: left;
}

/* line 81, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
form .select {
  display: inline-block;
  border: 1px solid #d3dbe2;
  border-radius: 3px;
  box-sizing: border-box;
  position: relative;
  background: #ffffff;
  overflow: hidden;
  vertical-align: middle;
}
/* line 90, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
form .select .select-icon {
  cursor: pointer;
  display: block;
  fill: #798c9c;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -6px;
  pointer-events: none;
  width: 12px;
  height: 12px;
  vertical-align: middle;
}
/* line 104, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
form .select select {
  font-size: 16px;
  padding: 7px 10px;
  padding-right: 32px;
  border: 0;
  width: 100%;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
}
/* line 116, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
form span {
  margin: 0 8px;
  font-size: 1.2em;
  vertical-align: middle;
}
/* line 122, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
form div {
  display: inline-block;
}
/* line 126, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
form button {
  border-radius: 3px;
  line-height: 0;
  padding: 7px;
  background: white;
  margin: 0;
  border: 1px solid #d3dbe2;
  vertical-align: middle;
  display: inline-block;
}
/* line 136, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
form button .material-icons {
  font-size: 18px;
  width: 18px;
  height: 18px;
  display: inline-block;
}

/* line 147, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
hr {
  max-width: 100px;
  margin: 50px auto;
  border: 0;
  height: 1px;
  background: black;
}

/* line 155, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
.graph {
  width: 100%;
  max-height: 400px;
  height: 400px;
  margin: 0 auto 20px;
}
/* line 161, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
.catalunya .graph .legend {
  display: none;
}

/* line 167, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
ol, ul {
  margin: 0 auto;
}
/* line 169, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
ol li, ul li {
  margin: 20px 0;
}

/* line 174, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
footer {
  margin-top: 40px;
  padding-top: 20px;
}
/* line 177, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
footer:before {
  content: '';
  width: 20px;
  height: 1px;
  display: block;
  background: black;
  position: relative;
  top: -10px;
}
/* line 186, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
footer p {
  font-size: 1em;
  margin: 0;
}
/* line 190, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
footer.last {
  margin-top: 0;
}

/* line 195, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
#tooltip {
  max-width: 220px;
  line-height: 1.4em;
}

/* line 200, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
td {
  padding: 3px 5px;
}

@media only screen and (max-width: 800px) {
  /* line 205, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  header {
    padding: 0 0px 20px;
  }
  /* line 207, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  header h1 {
    font-size: 3em;
  }
  /* line 210, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  header h2 {
    font-size: 1.2em;
    margin: 0 auto 20px;
    line-height: 1.4em;
  }

  /* line 216, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  .page {
    padding: 0 10px;
  }

  /* line 220, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  h1 {
    font-size: 2.8em;
    line-height: 1em;
  }
  /* line 223, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  h1.extra {
    font-size: 4em;
  }
  /* line 226, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  h1.left {
    text-align: left;
    font-size: 2.6em;
    line-height: 1.2em;
  }

  /* line 232, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  h2 {
    font-size: 1.3em;
    line-height: 1.2em;
    margin: 0 auto 5px;
    padding: 0 10px;
  }
  /* line 237, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  h2.extra {
    font-size: 1.6em;
  }

  /* line 241, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  h3 {
    margin-top: 10px;
  }

  /* line 244, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  p {
    font-size: 1.2em;
  }

  /* line 248, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  form:after {
    display: table;
    content: '';
    clear: both;
  }
  /* line 253, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  form .select {
    display: block;
    width: 100%;
    margin: 5px auto;
  }
  /* line 257, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  form .select.location {
    width: 88%;
    margin: 5px 0;
    float: left;
  }
  /* line 263, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  form span {
    display: none;
  }
  /* line 266, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  form div {
    width: 10%;
    float: left;
    margin: 5px 0 5px 2%;
  }
  /* line 271, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  form div.clear {
    clear: both;
  }

  /* line 276, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  .graph .legend {
    display: none;
  }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

