@import "https://fonts.googleapis.com/css?family=Roboto:400,500,700";
/* line 3, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
* {
  margin: 0;
  padding: 0;
  outline: 0;
}

/* line 9, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
body {
  padding: 0px 0 40px;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Lora', serif;
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: rgba(0, 0, 0, 0.87);
}

/* line 19, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
.top-banner {
  border-bottom: 1px dotted;
  text-align: center;
  width: 100%;
}
/* line 23, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
.top-banner > div {
  margin: 0 auto;
  padding: 10px;
  font-size: 14px;
  /*color: white;*/
}
/* line 28, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
.top-banner > div a {
  /*color: white;*/
}

/* line 33, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
header, .page {
  margin: 20px auto 0;
  padding: 0 10px;
  max-width: 800px;
  text-align: center;
}
/* line 38, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
header.large, .page.large {
  max-width: 1000px;
}
/* line 40, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
header.large h1, .page.large h1 {
  max-width: 800px;
}
/* line 43, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
header.large h2, .page.large h2 {
  margin-top: 5px;
  max-width: 800px;
  line-height: 30px;
}
/* line 47, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
header.large h2.headline, .page.large h2.headline {
  line-height: 30px;
  max-width: 960px;
}
/* line 52, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
header.large .module, .page.large .module {
  margin: 20px 0 20px;
}

/* line 57, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
a {
  color: rgba(0, 0, 0, 0.87);
}

/* line 60, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
h1 {
  font-size: 3em;
  font-weight: 700;
  max-width: 600px;
  margin: 0 auto;
}
/* line 65, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
h1 span {
  font-size: 0.8em;
}
/* line 68, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
h1.extra {
  font-size: 5em;
  margin: 20px auto 0;
}

/* line 73, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
h2 {
  font-weight: normal;
  max-width: 600px;
  margin: 0 auto 10px;
}
/* line 77, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
h2.extra {
  font-size: 2em;
}
/* line 80, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
h2 a {
  text-decoration: none;
  border-bottom: 1px solid;
}

/* line 85, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
h3 {
  font-weight: normal;
  font-size: 0.8em;
  line-height: 1.6em;
  margin: 0 auto 10px;
  max-width: 480px;
}

/* line 92, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
h4 {
  font-weight: normal;
  max-width: 420px;
  margin: 0 auto 10px;
  font-size: 2em;
  line-height: 1.3em;
}

/* line 99, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
p {
  margin: 20px auto;
  line-height: 1.4em;
  text-align: left;
  font-size: 1.4em;
}

/* line 105, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
sup {
  font-size: 0.83em;
  vertical-align: super;
  line-height: 0;
}

/* line 110, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
.module {
  margin: 20px 0 40px;
}
/* line 112, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
.module.left {
  text-align: left;
}

/* line 117, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
.hide {
  display: none;
}

/* line 121, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
.map {
  width: 100%;
  height: 600px;
}

/* line 127, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
.circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: 5px;
}

/* line 137, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
table {
  border-collapse: collapse;
  text-align: left;
  margin: 20px 0;
  border-top: 1px solid;
  width: 100%;
}
/* line 143, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
table td, table th {
  border-bottom: 1px solid;
  padding: 5px 2px;
}
/* line 146, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
table td span.small, table th span.small {
  font-size: 11px;
}
/* line 149, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
table td.category, table th.category {
  font-size: 11px;
  text-transform: uppercase;
}
/* line 153, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
table td.category span:after, table th.category span:after {
  content: ' +';
}
/* line 157, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
table td.category span:last-child:after, table th.category span:last-child:after {
  content: '';
}
/* line 163, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
table td.right, table th.right {
  text-align: right;
}
/* line 166, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
table td.empty, table th.empty {
  text-align: center;
  padding: 40px 0;
  font-size: 11px;
  text-transform: uppercase;
}
/* line 172, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
table td.button, table th.button {
  border: 0;
  padding: 10px 0 0;
}
/* line 175, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
table td.button a, table th.button a {
  background: black;
  color: white;
  text-align: center;
  padding: 6px 0 5px;
  font-size: 11px;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  display: block;
}
/* line 185, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
table td.button a span, table th.button a span {
  text-decoration: underline;
}
/* line 191, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
table th {
  text-transform: uppercase;
  font-size: 12px;
}
/* line 194, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
table th span {
  text-transform: none;
}
/* line 199, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
table tr.extra {
  display: none;
}
/* line 203, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
table tr.limit td {
  border-top: 3px solid;
}

/* line 211, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
form .select {
  display: inline-block;
  border: 1px solid #d3dbe2;
  border-radius: 3px;
  box-sizing: border-box;
  position: relative;
  background: #ffffff;
  overflow: hidden;
  vertical-align: middle;
}
/* line 220, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
form .select .select-icon {
  cursor: pointer;
  display: block;
  fill: #798c9c;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -6px;
  pointer-events: none;
  width: 12px;
  height: 12px;
  vertical-align: middle;
}
/* line 234, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
form .select select {
  font-size: 16px;
  padding: 7px 10px;
  padding-right: 32px;
  border: 0;
  width: 100%;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
}
/* line 246, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
form span {
  margin: 0 8px;
  font-size: 1.2em;
  vertical-align: middle;
}
/* line 252, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
form div {
  display: inline-block;
}
/* line 256, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
form button {
  border-radius: 3px;
  line-height: 0;
  padding: 7px;
  background: white;
  margin: 0;
  border: 1px solid #d3dbe2;
  vertical-align: middle;
  display: inline-block;
}
/* line 266, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
form button .material-icons {
  font-size: 18px;
  width: 18px;
  height: 18px;
  display: inline-block;
}

/* line 277, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
hr {
  max-width: 100px;
  margin: 50px auto;
  border: 0;
  height: 1px;
  background: black;
}

/* line 285, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
.graph {
  width: 100%;
  max-height: 400px;
  height: 400px;
  margin: 0 auto 20px;
}
/* line 291, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
.catalunya .graph .legend {
  display: none;
}

/* line 297, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
ol, ul {
  margin: 0 auto;
}
/* line 299, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
ol li, ul li {
  margin: 20px 0;
}

/* line 304, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
footer {
  margin-top: 40px;
  padding-top: 20px;
}
/* line 307, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
footer:before {
  content: '';
  width: 20px;
  height: 1px;
  display: block;
  background: black;
  position: relative;
  top: -10px;
}
/* line 316, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
footer p {
  font-size: 1em;
  margin: 0;
}
/* line 320, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
footer .credit {
  text-align: right;
  margin-top: 20px;
}
/* line 324, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
footer.last {
  margin-top: 0;
}

/* line 329, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
#tooltip {
  max-width: 220px;
  line-height: 1.4em;
}

/* line 334, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
td {
  padding: 3px 5px;
}

@media only screen and (max-width: 800px) {
  /* line 339, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  .hide-on-mobile {
    display: none;
  }

  /* line 344, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  .top-banner > div span {
    display: block;
  }

  /* line 349, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  header {
    padding: 0 10px 20px;
  }
  /* line 351, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  header h1 {
    font-size: 3em;
  }
  /* line 354, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  header h2 {
    font-size: 1.2em;
    margin: 0 auto 20px;
    line-height: 1.4em;
  }
  /* line 359, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  header.large {
    padding: 0 10px;
  }
  /* line 361, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  header.large h1 {
    font-size: 3em;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  /* line 368, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  .page {
    padding: 0 10px;
  }
  /* line 372, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  .page.large h2.headline {
    margin-top: 10px;
    font-size: 28px;
    line-height: 36px;
    max-width: 100%;
  }
  /* line 379, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  .page.large .module {
    margin: 0;
  }
  /* line 381, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  .page.large .module select {
    text-transform: uppercase;
    font-size: 12px;
  }

  /* line 390, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  footer .credit {
    text-align: center;
    margin-top: 20px;
  }

  /* line 396, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  .map {
    height: 300px;
  }

  /* line 400, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  h1 {
    font-size: 2.8em;
    line-height: 1em;
  }
  /* line 403, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  h1.extra {
    font-size: 4em;
  }
  /* line 406, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  h1.left {
    text-align: left;
    font-size: 2.6em;
    line-height: 1.2em;
  }

  /* line 412, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  h2 {
    font-size: 1.3em;
    line-height: 1.2em;
    margin: 0 auto 5px;
    padding: 0 10px;
  }
  /* line 417, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  h2.extra {
    font-size: 1.6em;
  }

  /* line 421, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  h3 {
    margin-top: 10px;
  }

  /* line 424, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  p {
    font-size: 1.2em;
    line-height: 1.8em;
  }

  /* line 429, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  form:after {
    display: table;
    content: '';
    clear: both;
  }
  /* line 434, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  form .select {
    display: block;
    width: 100%;
    margin: 5px auto;
  }
  /* line 438, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  form .select.location {
    width: 88%;
    margin: 5px 0;
    float: left;
  }
  /* line 444, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  form span {
    display: none;
  }
  /* line 447, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  form div {
    width: 10%;
    float: left;
    margin: 5px 0 5px 2%;
  }
  /* line 452, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  form div.clear {
    clear: both;
  }

  /* line 457, /Users/guillelopezgines/Sites/contaminacio/app/assets/stylesheets/home.scss */
  .graph .legend {
    display: none;
  }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

