%div.top-banner
  %div
    %div <span style="color: #F94E4E; font-weight: bold; font-size: 12px; margin-right: 4px;">NOU!</span> <span><a href="/escoles"">Nivells de contaminació a les escoles de Barcelona</a></span>