%div.top-banner
  %div
    %div Fes que la teva escola s'adhereixi: <span><a href="https://docs.google.com/document/d/1DiuWagjPAnYPjKyM1KrujtwAZOgBs8GMhPmXioiUo_A" target="_blank">Carta de les escoles de Barcelona per un aire net</a></span>