@import 'https://fonts.googleapis.com/css?family=Roboto:400,500,700';

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  padding: 0px 0 40px;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Lora', serif;
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: rgba(0,0,0,0.87);
}

.top-banner {
  text-align: center;
  width: 100%;
  background: #F5F5F5;
  > div {
    margin: 0 auto;
    padding: 9px 10px 12px;
    font-size: 14px;
    a {
      text-decoration: none;
      border-bottom: 1px solid;
    }
  }
}
header, .page {
  margin: 20px auto 0;
  padding: 0 10px;
  max-width: 800px;
  text-align: center;
  &.large {
    max-width: 1000px;
    h1 {
      max-width: 820px;
    }
    h2 {
      margin-top: 5px;
      max-width: 800px;
      line-height: 30px;
      &.headline {
        line-height: 30px;
        max-width: 965px;
      }
    }
    .module {
      margin: 20px 0 20px;
    }
  }
}
a {
  color: rgba(0,0,0,0.87);
}
h1 {
  font-size: 3em;
  font-weight: 700;
  max-width: 600px;
  margin: 0 auto;
  span {
    font-size: 0.8em;
  }
  &.extra {
    font-size: 5em;
    margin: 20px auto 0;
  }
}
h2 {
  font-weight: normal;
  max-width: 600px;
  margin: 0 auto 10px;
  &.extra {
    font-size: 2em;
  }
  a {
    text-decoration: none;
    border-bottom: 1px solid;
  }
}
h3 {
  font-weight: normal;
  font-size: 0.8em;
  line-height: 1.6em;
  margin: 0 auto 10px;
  max-width: 480px;
}
h4 {
  font-weight: normal;
  max-width: 420px;
  margin: 0 auto 10px;
  font-size: 2em;
  line-height: 1.3em;
}
p {
  margin: 20px auto;
  line-height: 1.4em;
  text-align: left;
  font-size: 1.4em;
}
sup {
  font-size: 0.83em;
  vertical-align: super;
  line-height: 0;
}
sub {
  vertical-align: sub;
  line-height: 0;
}
.module {
  margin: 20px 0 40px;
  &.left {
    text-align: left;
  }
}

.hide {
  display: none;
}

.legend {
  padding: 10px 0 0;
  text-align: center;
  > div {
    display: inline-block;
    font-size: 12px;
    margin-right: 10px;
    .circle {
      width: 10px;
      height: 10px;
      top: 1px;
      margin-right: 0;
    }
  }
}

.map {
  width: 100%;
  height: 600px;
}


.circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: 5px;
}

table {
  border-collapse: collapse;
  text-align: left;
  margin: 20px 0;
  border-top: 1px solid;
  width: 100%;
  td, th {
    border-bottom: 1px solid;
    padding: 5px 2px;
    span {
      &.small {
        font-size: 11px;
        margin-right: 5px;
        position: relative;
        top: -1px;
      }
      &.highlight {
        font-size: 10px;
        text-transform: uppercase;
        background: #6FD350;
        border-radius: 4px;
        padding: 2px 4px;
        position: relative;
        top: -1px;
        a {
          text-decoration: none;
          color: white;
          display: inline-block;
        }
      }
    }
    &.category {
      font-size: 11px;
      text-transform: uppercase;
      span {
        &:after {
          content: ' +';
        }
        &:last-child {
         &:after {
           content: '';
         }
        }
      }
    }
    &.right {
      text-align: right;
    }
    &.empty {
      text-align: center;
      padding: 40px 0;
      font-size: 11px;
      text-transform: uppercase;
    }
    &.button {
      border: 0;
      padding: 10px 0 0;
      a {
        background: black;
        color: white;
        text-align: center;
        padding: 6px 0 5px;
        font-size: 11px;
        text-transform: uppercase;
        cursor: pointer;
        width: 100%;
        display: block;
        span {
          text-decoration: underline;
        }
      }
    }
  }
  th {
    text-transform: uppercase;
    font-size: 12px;
    span {
      text-transform: none;
    }
  }
  tr {
    &.extra {
      display: none;
    }
    &.limit {
      td {
        border-top: 3px solid;
      }
    }
  }
}

form {
  .select {
    display: inline-block;
    border: 1px solid #d3dbe2;
    border-radius: 3px;
    box-sizing: border-box;
    position: relative;
    background: #ffffff;
    overflow: hidden;
    vertical-align: middle;
    .select-icon {
      cursor: pointer;
      display: block;
      fill: #798c9c;
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -6px;
      pointer-events: none;
      width: 12px;
      height: 12px;
      vertical-align: middle;
    }

    select {
      font-size: 16px;
      padding: 7px 10px;
      padding-right: 32px;
      border: 0;
      width: 100%;
      background: transparent;
      -webkit-appearance: none;
      -moz-appearance: none;
    }
  }

  span {
    margin: 0 8px;
    font-size: 1.2em;
    vertical-align: middle;
  }

  div {
    display: inline-block;
  }

  button {
    border-radius: 3px;
    line-height: 0;
    padding: 7px;
    background: white;
    margin: 0;
    border: 1px solid #d3dbe2;
    vertical-align: middle;
    display: inline-block;

    .material-icons {
      font-size: 18px;
      width: 18px;
      height: 18px;
      display: inline-block;
    }
  }
  span {
  }
}

hr {
  max-width: 100px;
  margin: 50px auto;
  border: 0;
  height: 1px;
  background: black;
}

.graph{
  width: 100%;
  max-height: 400px;
  height: 400px;
  margin: 0 auto 20px;
  .catalunya &{
    .legend {
      display: none;
    }
  }
}

ol, ul {
  margin: 0 auto;
  li {
    margin: 20px 0;
  }
}

footer {
  margin-top: 40px;
  padding-top: 20px;
  &:before {
    content: '';
    width: 20px;
    height: 1px;
    display: block;
    background: black;
    position: relative;
    top: -10px;
  }
  p {
    font-size: 1em;
    margin: 0;
  }
  ul {
    text-align: left;
    margin-left: 20px;
    li {
      line-height: 22px;
    }
  }
  .credit {
    text-align: right;
    margin-top: 20px;
  }
  &.last {
    margin-top: 0;
  }
}

#tooltip {
  max-width: 220px;
  line-height: 1.4em;
}

td {
  padding: 3px 5px;
}

@media only screen and (max-width: 1100px) {
  .map {
    height: 500px;
  }
}

@media only screen and (max-width: 960px) {
  .hide-on-tablet {
    display: none;
  }
  .map {
    height: 400px;
  }
  form {
    &:after{
      display: table;
      content: '';
      clear: both;
    }
    .select {
      display: block;
      width: 100%;
      margin: 5px auto;
      &.location {
        width: 88%;
        margin: 5px 0;
        float: left;
      }
    }
    span {
      display: none;
    }
    div {
      width: 10%;
      float: left;
      margin: 5px 0 5px 2%;
    }
    div.clear {
      clear: both;
    }
  }
}

@media only screen and (max-width: 750px) {
  .hide-on-mobile {
    display: none;
  }
  .top-banner {
    > div {
      span {
        display: block;
      }
    }
  }
  header {
    padding: 0 10px 20px;
    h1 {
      font-size: 3em;
    }
    h2 {
      font-size: 1.2em;
      margin:  0 auto 20px;
      line-height: 1.4em;
    }
    &.large {
      padding: 0 10px;
      h1 {
        font-size: 3em;
        margin-top: 10px;
        margin-bottom: 20px;
      }
    }
  }
  .page {
    padding: 0 10px;
    &.large {
      h2 {
        &.headline {
          margin-top: 10px;
          font-size: 20px;
          line-height: 28px;
          max-width: 100%;
        }
      }
      .module {
        margin: 0;
        select {
          text-transform: uppercase;
          font-size: 12px;
        }
      }
    }
  }

  footer {
    .credit {
      text-align: center;
      margin-top: 20px;
    }
  }

  .legend {
    > div {
      span {
        display: none;
      }
    }
  }

  .map {
    height: 300px;
  }

  h1 {
    font-size: 2.8em;
    line-height: 1em;
    &.extra {
      font-size: 4em;
    }
    &.left {
      text-align: left;
      font-size: 2.6em;
      line-height: 1.2em;
    }
  }
  h2 {
    font-size: 1.3em;
    line-height: 1.2em;
    margin: 0 auto 5px;
    padding: 0 10px;
    &.extra {
      font-size: 1.6em;
    }
  }
  h3 {
    margin-top: 10px;
  }
  p {
    font-size: 1.2em;
    line-height: 1.8em;
  }
  .graph {
    .legend {
      display: none;
    }
  }
}