h1, h2, h3, p {
  color: black;
  font-family: "HelveticaNeue", Sans-Serif;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  max-width: 600px;
}
h1 {
  font-size: 3em;
  color: #ff5252;
  margin: 0 auto 20px;
  // border: 5px solid;
  // border-radius: 50%;
  // width: 200px;
  // height: 200px;
  // vertical-align: middle;
  span {
    font-size: 0.8em;
  }
}

h3 {
  font-weight: normal;
  font-size: 0.8em;
  line-height: 1.6em;
}

p {
  margin: 20px auto;
  line-height: 2em;
  max-width: 700px;
  text-align: left;
}

form {
  margin: 20px auto;
  max-width: 500px;
  text-align: center;
  select, input {
  }
}

hr {
  max-width: 100px;
  margin: 50px auto;
  border: 0;
  height: 1px;
  background: black;
}

.graph{
  width: 100%;
  max-height: 400px;
  height: 400px;
  margin: 0 auto 20px;
}

table {
  width: 100%;
  font-family: "HelveticaNeue", Sans-Serif;
  font-size: 12px;
  background: #fff;
  border-collapse: collapse;
  text-align: left;
  th {
    font-size: 14px;
    font-weight: normal;
    color: black;
    border-bottom: 2px solid black;
    padding: 10px 8px;
  }
  td {
    border-bottom: 1px solid #ccc;
    color: black;
    padding: 6px 8px;
  }
}

footer {
  margin-top: 60px;
}