!!!
%html
  %head
    %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title Mesures de contaminació
    %link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    %link(href="https://fonts.googleapis.com/css?family=Open+Sans:600|Montserrat|Space+Mono" rel="stylesheet")
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
  %body{ class: params[:controller].parameterize, id: params[:action].parameterize}
    %main
      = yield
    = javascript_include_tag 'application'
